<div class="row">
	<div class="col-sm-12" >
		<div class="page-header">
			<h3>Liste des émissions</h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12" >
		<ul class="list-unstyled">
			<% @episodes.each do |e| %>
				<li >
					<%= link_to "#{e.number}.#{e.title}", e, method: :get %>
				</li>
			<% end %>
		</ul>
	</div>
</div>